<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Costum</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="navbar__logo"></div>
            <div class="navbar__items">
                <div class="navbar__item"></div>
                <div class="navbar__item"></div>
                <div class="navbar__item"></div>
                <div class="navbar__item"></div>
            </div>
        </nav>
    </header>

    <main class='container'>
        <div class="container__card">
            <div class="container__img"></div>
            <div class="container__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque autem fuga in illo dolores quo deleniti quia voluptate, nobis rerum, perspiciatis iure culpa incidunt. Quas totam ad amet blanditiis maxime!</div>
            <div class="container__button container__button--red">OK</div>
        </div>
        <div class="container__card">
            <div class="container__img"></div>
            <div class="container__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo impedit exercitationem distinctio dolorum commodi id, voluptatem rem, autem asperiores reiciendis consectetur dolore libero maxime veniam voluptates blanditiis hic quasi tenetur?</div>
            <div class="container__button container__button--valid">OK</div>
        </div>
        <div class="container__card">
            <div class="container__img"></div>
            <div class="container__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam fugiat animi placeat, quis soluta cupiditate aperiam aliquam non porro molestiae obcaecati quod, ab odit iste beatae, commodi rem distinctio nisi?</div>
            <div class="container__button container__button--green "></div>
        </div>
    </main>

    <footer class="footer">
        <div class="footer__contact"></div>
        <div class="footer__item"></div>
        <div class="footer__item"></div>
        <div class="footer__item"></div>
    </footer>
</body>

</html>